* {
  box-sizing: border-box;
}

h1{
	font-family: "American Typewriter", serif;
}

.column {
  float: left;
  width: 33.33%;
  padding-right: 25px;
  padding-left: 25px;
}

.row{
  padding-bottom: 0px;
  padding-top: 0px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

button {
  background: rgba(79, 9, 9, 1.0);
  border: none;
  color: #f99fbc;
  padding: 10px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

p {
	font-size: 20px;
  color:#f99fbc;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
	font-family: "Verdana", sans-serif;
  border-radius: 25px;
  background: rgba(79, 9, 9, 0.75)
}