* {
  box-sizing: border-box;
}

h1{
	font-family: "American Typewriter", serif;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}